.modal {
    position: relative;
    overflow: visible;

    width: 540px;

    border-radius: 25px;
}

.timers {
    margin-top: 22px;

    display: flex;
    gap: 20px;
}

.separator {
    border-bottom: 1px solid #E3E1E1;
}
